<aside class="sidebar">
    <div class="card-glass">

        <section class="user-suggestions-section">
            <h3>Sugestões para você</h3>

            <div class="users-container">
                <div class="user">
                    <div class="user-info">
                        <div class="avatar">
                            <img alt="Foto do usuário pao_de_casa" src="/profile.png">
                        </div>
                        <div class="user-text">
                            <span> {{username}} </span>
                            <span> Seguido por {{follower}} </span>
                        </div>
                    </div>
                    <button>Seguir</button>
                </div>
            </div>
            <div class="users-container">
                <div class="user">
                    <div class="user-info">
                        <div class="avatar">
                            <img alt="Foto do usuário pao_de_casa" src="/profile.png">
                        </div>
                        <div class="user-text">
                            <span> {{username}} </span>
                            <span> Seguido por {{follower}} </span>
                        </div>
                    </div>
                    <button>Seguir</button>
                </div>
            </div>
            <div class="users-container">
                <div class="user">
                    <div class="user-info">
                        <div class="avatar">
                            <img alt="Foto do usuário pao_de_casa" src="/profile.png">
                        </div>
                        <div class="user-text">
                            <span> {{username}} </span>
                            <span> Seguido por {{follower}} </span>
                        </div>
                    </div>
                    <button>Seguir</button>
                </div>
            </div>
        </section>

        <section class="trending-tools-section">
            <h3>Ferramentas em Alta</h3>

            <div class="tools-container">
                <!-- TODO routerlink -->
                <a class="card" href="#">
                    <div class="card-content">
                        <div>
                            <span class="material-symbols-outlined">{{icon}}</span>
                        </div>
                        <h4>Regra de Três</h4>
                    </div>

                    <p>Escale rapidamente a proporção dos ingredientes baseados na porcentagem do padeiro.</p>
                </a>
            </div>
            <div class="tools-container">
                <!-- TODO routerlink -->
                <a class="card" href="#">
                    <div class="card-content">
                        <div>
                            <span class="material-symbols-outlined">{{icon}}</span>
                        </div>
                        <h4>Regra de Três</h4>
                    </div>

                    <p>Escale rapidamente a proporção dos ingredientes baseados na porcentagem do padeiro.</p>
                </a>
            </div>
            <div class="tools-container">
                <!-- TODO routerlink -->
                <a class="card" href="#">
                    <div class="card-content">
                        <div>
                            <span class="material-symbols-outlined">{{icon}}</span>
                        </div>
                        <h4>Regra de Três</h4>
                    </div>

                    <p>Escale rapidamente a proporção dos ingredientes baseados na porcentagem do padeiro.</p>
                </a>
            </div>
        </section>


    </div>
</aside>