<aside>
    <div class="slogan-container">
        <h1>Gastro Factor</h1>
    </div>

    <!-- TODO add routerlinks -->
    <nav>
        <a routerLink="#">
            <span>home</span>
            <span>Feed</span>
        </a>
        <a routerLink="#">
            <span>mail</span>
            <span>Mensagens</span>
        </a>
        <a routerLink="#">
            <span>search</span>
            <span>Pesquisar</span>
        </a>
        <a routerLink="#">
            <span>notifications</span>
            <span>Notificações</span>
        </a>

        <a routerLink="#">
            <span>add_box</span>
            <span>Criar</span>
        </a>

        <a routerLink="#">
            <span>construction</span>
            <span>Ferramentas</span>
        </a>
        <a routerLink="#">
            <div class="profile-image-container">
                <!-- TODO: add imagem profile dinamica -->
                <img alt="Profile" src="/profile.png">
            </div>
            <span>Perfil</span>
        </a>
    </nav>

    <div class="footer">
        <a routerLink="#">
            <span>menu</span>
            <span>Mais</span>
        </a>
    </div>
</aside>