<section>
    <!-- TODO: add funcionalidade de criar story -->
    <div class="group">
        <div class="avatar-lg">
            <div class=" avatar-container avatar-container-add">
                <span class="material-symbols-outlined text-primary-container">add</span>
            </div>
        </div>
        <span class="label-sm">Seu Story</span>
    </div>

    <div class="group">
        <div class="avatar-lg">
            <div class="avatar-container">
                <!-- TODO: mudar o story com base no que o usuario adicionar -->
                <img src="/storyExemple01.png" alt="User">
            </div>
        </div>
        <span class="label-sm">{{username}}</span>
    </div>

    <div class="group">
        <div class="avatar-lg">
            <div class="avatar-container">
                  <!-- TODO: mudar o story com base no que o usuario adicionar -->
                <img src="/storyExemple02.png" alt="User">
            </div>
        </div>
        <span class="label-sm">{{username}}</span>
    </div>
</section>